.app__container{
  display: flex;
}
.editor__container, .moodboard__container{
  width: 50%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.23);
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.container_title{
  margin-bottom: 20px;
  padding: 0 10px;
}
form{ 
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
input#date,input#message  {
  padding: 7px;
  border: 1px solid grey;
  border-radius: 3px;
}
input[type="radio"] {
  margin-right: 4px;
}
.label {
  margin: 12px 4px;
  font-weight: bold;
}
.label:first-child{
  margin-top: 0;
  margin-bottom: 12px;
}
#addMoodBtn{
  background: #00bcd4;
  color: #fff;
  border: none;
  margin: 20px 0;
  border-radius: 3px;
  padding: 9px;
  font-size: 18px;
}
.mood_section{
  display: flex;
  flex-direction: row;
}
.mood_section label{
  padding: 0 10px;
}



.mood_list{
  list-style-type: none;
}
.smiley{
  width: 45px;
}


.mood_list{
  list-style-type: none;
  display: grid;
	grid-gap: 25px;
	max-width: 1080px;
	margin: 0 auto 50px;
  padding: 0 10px;
}

@media (min-width: 472px) and (max-width: 767px) {
  .mood_list{
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 768px) {
  .mood_list{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 949px) {
  .mood_list{
    grid-template-columns: repeat(7, 1fr);
  }
}
