.editor__container{
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.23);
  margin: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #fff;
  margin-top: -69px;
  z-index: 100;
}
.container__title{
  margin-bottom: 41px;
  padding-left: 20px;
  padding-top: 20px;
  color: #535555;
}

form{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
input#date,input#message  {
  padding: 7px;
  border: 1px solid grey;
  border-radius: 3px;
}
input[type="radio"] {
  margin-right: 4px;
}
.label {
  margin: 16px 4px;
  font-weight: bold;
  font-size: 22px;
  color: #535555;
}
.label:first-child{
  margin-top: 0;
  margin-bottom: 16px;
}

.btn__section{
  display: flex;
}
#addMoodBtn, #cancelBtn{
  background: #00bcd4;
  color: #fff;
  border: none;
  margin: 20px 0;
  border-radius: 3px;
  padding: 9px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
#addMoodBtn:hover, #cancelBtn:hover{
  background: #0096a6;
}
.mood__section{
  display: flex;
  flex-direction: row;
}
.mood__section label{
  padding: 0 10px;
  font-weight: bold;
  color: #535555;
}
.visible {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.hidden {
  display: none;
}
