.editor__container, .moodboard__container{
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.23);
  margin: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #fff;
  margin-top: -69px;
  z-index: 100;
}
.container__title{
  margin-bottom: 41px;
  padding-left: 20px;
  padding-top: 20px;
  color: #535555;
}

/*Editor*/
form{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
input#date,input#message  {
  padding: 7px;
  border: 1px solid grey;
  border-radius: 3px;
}
input[type="radio"] {
  margin-right: 4px;
}
.label {
  margin: 16px 4px;
  font-weight: bold;
  font-size: 22px;
  color: #535555;
}
.label:first-child{
  margin-top: 0;
  margin-bottom: 16px;
}
#addMoodBtn{
  background: #00bcd4;
  color: #fff;
  border: none;
  margin: 20px 0;
  border-radius: 3px;
  padding: 9px;
  font-size: 18px;
  font-weight: bold;
}
#addMoodBtn:hover{
  background: #0096a6;
}
.mood__section{
  display: flex;
  flex-direction: row;
}
.mood__section label{
  padding: 0 10px;
}
.visible {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.hidden {
  display: none;
}

/*Moodboard*/
.mood__list{
  list-style-type: none;
  display: grid;
	max-width: 1080px;
	margin: 0 auto 50px;
  padding: 0 10px;
  grid-template-columns: 1fr 1fr;
}
.mood__item {
  min-width: 115px;
  min-height: 117px;
  text-align: center;
}
.smiley{
  width: 45px;
  margin: 0 auto;
}
.info__message {
  padding: 2px;
  text-align: center;
  color: #000;
  border-bottom:  1px solid #00bcd4;
}
.link{
  position: relative;
}
.addBtn{
  background: #ffee4d;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: #3e3f3f;
  font-size: 51px;
  position: absolute;
  top: -29px;
  right: 10%;
  -webkit-box-shadow:0px 3px 3px #3e3f3f;
  -moz-box-shadow:0px 3px 3px #3e3f3f;
  box-shadow:0px 3px 3px #3e3f3f;
  text-decoration: none;
}
.addBtn:focus{
  outline: none;
}


@media (min-width: 472px) and (max-width: 767px) {
  .mood__list{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .addBtn{
    right: 8%;
  }
}
@media all and (min-width: 768px) {
  .mood__list{
    grid-template-columns: repeat(5, 1fr);
  }
  .addBtn{
    right: 7%;

  }
}
@media all and (min-width: 949px) {
  .mood__list{
    grid-template-columns: repeat(7, 1fr);
  }
  .addBtn{
    right: 39px;
  }
}
